<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <header>
      <div class="header">
        <img class="logo" src="/images/new.png" alt="logo" />
        <nav class="navbar">
          <a href="/users/login" class="btn btn-ter">Login</a>
          <a href="/users/register" class="btn btn-ter">Register</a>
        </nav>
      </div>
    </header>
    <main>
      <div class="center">
        <h1>Welcome to The Shopping App</h1>
        <p>Enjoy Shopping</p>
      </div>
    </main>
  </body>
</html>
