<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <div class="header">
        <img class="logo" src="/images/new.png" alt="logo" />
        <nav class="navbar">
          <a href="/users/login" class="btn btn-ter">Login</a>
          <a href="/users/register" class="btn btn-ter">Register</a>
        </nav>
      </div>
    </header>
    <main>
      <section class="admit-edit-product">
        <h2>Login</h2>
        <form action="/users/login" method="POST">
          <% if(ep){ %>
          <p class="red"><%= ep %></p>
          <% } %> <% if(email){ %>
          <p class="red"><%= email %></p>
          <input type="email" name="email" placeholder="Email" />
          <% } %> <% if(password){ %>
          <p class="red"><%= password %></p>
          <% } %>
          <input type="password" name="password" placeholder="Password" />
          <button type="submit">Login</button>
        </form>
      </section>
    </main>
  </body>
</html>
