<% include partials/header %>

<main>
  <section class="signup">
    <h2>Registration</h2>
    <form action="/users/register" method="POST">
      <% if(error) { %>
      <p><%= error %></p>
      <% } %>
      <input type="text" name="firstName" placeholder="First Name" />
      <input type="text" name="lastName" placeholder="Last Name" />
      <input type="email" name="email" placeholder="Email" />
      <input type="password" name="password" placeholder="Password" />
      <button type="submit">Register</button>
    </form>
  </section>
</main>

<% include partials/footer %>
