<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <title>Handeling Forms 👇</title>
  </head>
  <body class="home-index">
    <header>
      <div class="container header">
        <a href="/">Home</a>
        <nav class="navbar">
          <ul>
            <%if(!user) { %>
            <li>
              <a href="/users/login">login</a>
            </li>
            <li>
              <a href="/article">articles</a>
            </li>
            <%}%>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <div class="container signup">
        <h1>Create Account</h1>
        <% if(error) {%>
        <p><%= error%></p>
        <%}%>
        <form action="/users/signup" method="POST">
          <label for="firstname">First Name</label>
          <input
            type="text"
            name="firstname"
            placeholder="First Name"
            id="firstname"
          />
          <label for="lastname">Last Name</label>
          <input
            type="text"
            name="lastname"
            placeholder="Last Name"
            id="lastname"
          />
          <label for="email">Email</label>
          <input
            id="email"
            type="email"
            name="email"
            placeholder="Enter Email"
          />
          <label for="password">Password</label>
          <input
            id="password"
            type="password"
            name="password"
            placeholder="Enter your password"
          />
          <label for="city">city</label>
          <input
            type="text"
            name="city"
            id="city"
            placeholder="Enter your city"
          />
          <button class="btn-submit" type="submit">Submit</button>
        </form>
      </div>
    </main>
  </body>
</html>
